<!-- About Section -->
<section class="success" id="about">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>

        <div class="row">

            <div class="col-lg-4 col-lg-offset-2">
                <p>I'm currently a Data Engineer at Northwestern Mutual working on creating 
                    a common data platform that unifies the companie's past 150 years of data and future data.

                </p>

                <p>I get exicited about solving hard and interesting problems. </p>

                    <p><b>Key Strengths:</b>
                        <ul>
                            <li>
                                <p>Creative problem solver</p>
                            </li>
                            <li>
                                <p>Fast learner</p>
                            </li>
                            <li>
                                <p>Team player</p>
                            </li>
                        </ul>
                    </p>
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
</section>