<!-- About Section -->
<section class="success" id="about">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>

        <div class="row">

            <div class="col-lg-4 col-lg-offset-2">
                <p>I'm currently an undergraduate student studying Computer Science, Applied Mathematics and physics
                    minor. I'm a math tutor for Queens College's Math lab. I'm currently interning at A+E Networks in
                    the summer.
                </p>
            </div>

           <div class="col-lg-4 col-lg-offset-2">
                <p>I get exicited about solving hard and interesting problems. </p>

                    <p><b>Key Strengths:</b>
                        <ul>
                            <li>
                                <p>Intellectual curiosity - Data science is discovery!</p>
                            </li>
                            <li>
                                <p>Pattern finding</p>
                            </li>
                            <li>
                                <p>Mathematical expertise</p>
                            </li>
                            <li>
                                <p>Creative problem solver</p>
                            </li>
                            <li>
                                <p>Business acumen</p>
                            </li>
                            <li>
                                <p>Team player</p>
                            </li>
                        </ul>
                    </p>
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
</section>