
<!-- +++++ Posts Lists +++++ -->
<!-- +++++ First Post +++++ -->
<div id="grey">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <p><img src="/img/profile.png" width="50px" height="50px"> <ba>Stanley Stinson</ba></p>
                <p><bd>January 22, 2018 cog</bd></p>
                <h4>The Amazing Spiderman</h4>
                <p><b>Spider-Man</b> is a fictional character, a comic book superhero that appears in comic books published by Marvel Comics. Created by writer-editor Stan Lee and writer-artist Steve Ditko, he first appeared in Amazing Fantasy #15 (cover-dated Aug. 1962). </p>
                <p>Lee and Ditko conceived the character as an orphan being raised by his Aunt May and Uncle Ben, and as a teenager, having to deal with the normal struggles of adolescence in addition to those of a costumed crimefighter.</p>
                <p><a href="/Blog/blog01.html">Continue Reading...</a></p>
            </div>

        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /grey -->
<br>
<br>
<br>
<br><br>
<!-- +++++ Second Post +++++ -->
<div id="white">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <p><img src="assets/img/user.png" width="50px" height="50px"> <ba>Stanley Stinson</ba></p>
                <p><bd>January 3, 2014</bd></p>
                <h4>Summer Intern Diary @ A+E</h4>
                <p><img class="img-responsive" src="assets/img/blog01.jpg" alt=""></p>
                <p>My intern experience at A+E networks.</p>
                <p><a href="/Blog/aeSummerInternship.html">Continue Reading...</a></p>
            </div>

        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /white -->
<br>
<br>
<br>
<br>

<!-- +++++ Third Post +++++ -->
<div id="grey">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <p><img src="assets/img/user.png" width="50px" height="50px"> <ba>Stanley Stinson</ba></p>
                <p><bd>January 01, 2014</bd></p>
                <h4>Believe In Yourself</h4>
                <p class="bq">"A bird sitting on a tree is never afraid of the branch breaking, because her trust is not in the branch, but in her own wings."</p>
            </div>

        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /grey -->
<br>
<br>
<br>
<br>
