<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<link rel="stylesheet" type="text/css" href="main.css">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.keywords }}"/>
    {% if site.meta_author %}
    <meta name="author" content="{{ site.meta_author }}">
    {% endif %}
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">

    <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link rel="stylesheet" href="{{ "
    /style.css" }}">

    <!-- Google verification -->
    {% if site.google_verify %}
    <meta name="google-site-verification" content="{{ site.google_verify }}">
    {% endif %}

    <!-- Bing Verification -->
    {% if site.bing_verify %}
    <meta name="msvalidate.01" content="{{ site.bing_verify }}">
    {% endif %}

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{{ "
    /css/font-awesome/css/font-awesome.min.css" }}">
    <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>


<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#page-top">{{ site.title }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="http://www.qimanwang.me/"></a>
                </li>
                <li class="page-scroll">
                    <a href="http://www.qimanwang.me/index.html#portfolio">Portfolio</a>
                </li>
                <li class="page-scroll">
                    <a href="http://www.qimanwang.me/index.html#about">About</a>
                </li>
                <li class="page-scroll">
                    <a href="http://www.qimanwang.me/index.html#contact">Contact</a>
                </li>
                <!-- qw: added blog link -->
                <li class="page-scroll">
                    <a href="Blog/blogIndex.html">Blog</a>
                </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>


<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="img/profile.png" alt="">
                <div class="intro-text">
                    <span class="name">{{ site.title }}</span>
                    <hr class="star-light">
                    <span class="skills">{{ site.skills }}</span>
                </div>
            </div>
        </div>
    </div>
</header>


<body>
<!---header---->
<div class="header">
    <div class="container">
        <div class="logo">
            <a href="index.html"><img src="images/logo.jpg" title=""/></a>
        </div>
        <!---start-top-nav---->
        <div class="top-menu">
            <div class="search">
                <form>
                    <input type="text" placeholder="" required="">
                    <input type="submit" value=""/>
                </form>
            </div>
            <span class="menu"> </span>
            <ul>
                <li><a href="index.html">HOME</a></li>
                <li class="active"><a href="coding-problems.html">ABOUT</a></li>
                <li><a href="contact.html">CONTACT</a></li>
                <div class="clearfix"></div>
            </ul>
        </div>
        <div class="clearfix"></div>
        <script>
            $("span.menu").click(function () {
                $(".top-menu ul").slideToggle("slow", function () {
                });
            });
        </script>
        <!---//End-top-nav---->
    </div>
</div>
<!--/header-->
<div class="about-content">
    <div class="container">
        <h2>Something About Me and Blogging</h2>
        <div class="about-section">
            <div class="about-grid">
                <h3>WHY I STARTED THIS BLOG?</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book.
                    It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                    essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
                    containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
                    PageMaker including
                    versions of Lorem Ipsum.</p>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                    looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                    distribution of letters, as opposed to using 'Content here, content here', making it look like
                    readable English. Many desktop publishing packages
                    and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum'
                    will uncover many web sites still in their infancy. Various versions have evolved over the years,
                    sometimes by accident, sometimes on purpose (injected humour and the like).</p>
            </div>
            <div class="about-grid2">
                <h3>WHY YOU SHOULD READ THIS BLOG?</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book.
                    It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                    essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
                    containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
                    PageMaker including
                    versions of Lorem Ipsum.</p>
                <ul>
                    <li><a href="#">Always free from repetition</a></li>
                    <li><a href="#">Vestibulum rhoncus nibh quis dui fermentum iaculis.</a></li>
                    <li><a href="#">The standard chunk of Lorem Ipsum</a></li>
                    <li><a href="#">In consequat dolor in lorem egestas ultrices.</a></li>
                    <li><a href="#">Ultrices rhoncus nibh quis dui.</a></li>
                </ul>
            </div>
            <div class="who-iam">
                <h3>WHO THE IAM?</h3>
                <div class="man-info">
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                        alteration in some form, by injected humour, or randomised words which don't look even slightly
                        believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't
                        anything embarrassing hidden in the middle of text. </p>
                    <h4>Some facts about me.</h4>
                    <li>Nullam at turpis a orci pretium pharetra.</li>
                    <li>Curabitur tincidunt purus mollis facilisis placerat.</li>
                    <li>Mauris a nulla ac est tincidunt interdum.</li>
                    <li>Pellentesque vel enim nec urna imperdiet mollis.</li>
                    <li>Integer interdum risus et scelerisque volutpat.</li>
                </div>
                <div class="man-pic">
                    <img src="images/man.jpg" alt=""/>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!---->
<div class="footer">
    <div class="container">
        <p>Copyrights © 2015 Blog All rights reserved | Template by <a href="http://w3layouts.com/">W3layouts</a></p>
    </div>
</div>


