<!DOCTYPE html>
<html>
{% include head.html %}
<body id="page-top" class="index">
{% include nav_general.html %}

<!-- +++++ Posts Lists +++++ -->
<!-- +++++ First Post +++++ -->
<div id="grey">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <br><br><br><br><br>
                <h1> I wanted to shae this awesome experience I've had interning at A+E!</h1>
                <h4>Week 1</h4>
                <p>The scavenger hunt during the orientation definitely helped every get use to the 17 fl building . </p>
                <p>Had lunch with our manager at Blockehead and it was amazing.</p>
            </div>

        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /grey -->
<br>
<br>
<br>
<br><br>
<!-- +++++ Second Post +++++ -->
<div id="white">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <p><img src="assets/img/user.png" width="50px" height="50px"> <ba>Stanley Stinson</ba></p>
                <p><bd>January 3, 2014</bd></p>
                <h4>Summer Intern Diary @ A+E</h4>
                <p><img class="img-responsive" src="assets/img/blog01.jpg" alt=""></p>
                <p>My intern experience at A+E networks.</p>
                <p><a href="aeSummerInternship.html">Continue Reading...</a></p>
            </div>

        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /white -->
<br>
<br>
<br>
<br>

<!-- +++++ Third Post +++++ -->
<div id="grey">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <p><img src="assets/img/user.png" width="50px" height="50px"> <ba>Stanley Stinson</ba></p>
                <p><bd>January 01, 2014</bd></p>
                <h4>Believe In Yourself</h4>
                <p class="bq">"A bird sitting on a tree is never afraid of the branch breaking, because her trust is not in the branch, but in her own wings."</p>
            </div>

        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /grey -->
<br>
<br>
<br>
<br>

{% include footer.html %}
{% include modals.html %}
{% include js.html %}
</body>
</html>